/*MEDIA*/

@media screen and (max-width: 1565px) and (max-width: 1565px) {

  .wrapper {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: right;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

}

@media screen and (max-width: 1455px) and (max-width: 1565px) {

  .wrapper {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: right;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1366px) {
  .top-of-page {
    width: 600px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 70px;
    margin-left: 100px;
    text-align: center;
    margin-top: 400px;
  }
  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }
}


@media screen and (max-width: 1240px) and (max-width: 1455px) {

  .wrapper {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: right;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

}

@media screen and (max-width: 1206px) and (max-width: 1240px) {

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: right;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1107px) and (max-width: 1286px) {

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1024px) {

  .top-of-page {
    width: 600px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 70px;
    margin-left: 100px;
    text-align: center;
    margin-top: 400px;
  }

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1278px){

  .top-of-page {
    width: 600px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 70px;
    margin-left: 100px;
    text-align: center;
    margin-top: 100px;
  }

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1018px) and (max-width: 1107px) {

  .top-of-page{
    margin-top: 100px;
  }

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 992px){

  .top-of-page {
    width: 600px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 70px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
  }

  #logo {
    font-size: 50px;
  }


  .about {
    font-size: 6px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 300px;
  }


  .skills{
    font-size: 8px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 280px;
  }

  table {
    font-size: 15px;
  }

  .skills h4{
    color: black;
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: 15px;
  }


  #port{
    font-size: 50px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin:auto;
    text-align: center;
    margin-top: 200px;
  }

  #portfolio{
    font-size: 8px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 50px;
  }

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) {
  .top-of-page {
    width: 600px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 70px;
    margin-left: 100px;
    text-align: center;
    margin-top: 180px;
  }
  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }
}


@media screen and (min-width: 412px) and (max-width: 764px) {

  .top-of-page{
    width: 400px;
    margin-top: 40px;
    font-size: 20px;
    margin: auto;
    margin-top: 80px;
  }


  .about {
    font-size: 15px;
    width: 400px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 200px;
  }


  .skills{
    font-size: 15px;
    width: 400px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 150px;
  }


  #port{

    font-size: 50px;
    width: 400px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 200px;
  }

  #portfolio{
    font-size: 15px;
    width: 400px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 200px;
  }

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

}

@media screen and (max-width: 414px){

  .top-of-page{
    width: 400px;
    margin-top: 80px;
    font-size: 20px;
    margin-left: 5px;
  }

  #lf {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
  }

  #LF{
    margin: auto;
    font-size: 70px;
    padding-top: 20%;
  }

  .about {
    font-size: 15px;
    width: 400px;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 5px;
    text-align: center;
    margin-top: 200px;
  }


  .skills{
    font-size: 15px;
    width: 400px;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 5px;
    text-align: center;
    margin-top: 150px;
  }


  #port{

    font-size: 50px;
    width: 400px;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 5px;
    text-align: center;
    margin-top: 200px;
  }

  #portfolio{
    font-size: 15px;
    width: 400px;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 5px;
    text-align: center;
    margin-top: 200px;
  }

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

}

@media screen and (max-width: 416px){

  .top-of-page{
    width: 300px;
    margin-top: 40px;
    font-size: 10px;
    margin:auto;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  #logo {
    font-size: 50px;
  }


  .about {
    font-size: 6px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }


  .skills{
    font-size: 8px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 280px;
  }

  table {
    font-size: 15px;
  }

  .skills h4{
    color: black;
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: 15px;
  }


  #port{
    font-size: 50px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin:auto;
    text-align: center;
    margin-top: 350px;
  }

  #portfolio{
    font-size: 8px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 50px;
  }

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

}

@media screen and (max-width: 418px){

  .top-of-page{
    width: 300px;
    margin-top: 40px;
    font-size: 10px;
    margin:auto;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  #logo {
    font-size: 50px;
  }


  .about {
    font-size: 6px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }


  .skills{
    font-size: 8px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 280px;
  }

  table {
    font-size: 15px;
  }

  .skills h4{
    color: black;
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: 15px;
  }


  #port{
    font-size: 50px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin:auto;
    text-align: center;
    margin-top: 350px;
  }

  #portfolio{
    font-size: 8px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 50px;
  }

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

}

@media screen and (max-width: 368px) and (min-height: 757px;){

  .top-of-page {
    width: 600px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 70px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
  }

  #logo {
    font-size: 50px;
  }


  .about {
    font-size: 6px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 800px;
  }


  .skills{
    font-size: 8px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 280px;
  }

  table {
    font-size: 15px;
  }

  .skills h4{
    color: black;
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: 15px;
  }


  #port{
    font-size: 50px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin:auto;
    text-align: center;
    margin-top: 200px;
  }

  #portfolio{
    font-size: 8px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 50px;
  }

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 375px) and (max-width: 414px) {

  .top-of-page{
    width: 350px;
    margin-top: 80px;
    font-size: 10px;
    margin-left: 10px;
    padding-bottom: 50px;
  }

  #logo {
    font-size: 50px;
  }

  #lf{
    width: 100px;
    height: 100px;
  }

  #LF{
    font-size: 60px;
    margin:auto;
    padding-top: 20%;
  }

  .about {
    font-size: 8px;
    width: 350px;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 5px;
    text-align: center;
    margin-top: 20px;
  }


  .skills{
    font-size: 8px;
    width: 350px;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 5px;
    text-align: center;
    margin-top: 170px;
  }


  #port{
    font-size: 50px;
    width: 350px;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 5px;
    text-align: center;
    margin-top: 250px;
  }

  #portfolio{
    font-size: 8px;
    width: 350px;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 5px;
    text-align: center;
    margin-top: 200px;
  }

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

}


@media screen and (max-width: 320px) and (max-width: 375px) {

  .top-of-page{
    width: 300px;
    margin-top: 40px;
    font-size: 10px;
    margin-left: 10px;
    padding-bottom: 50px;
  }

  #logo {
    font-size: 50px;
  }


  .about {
    font-size: 6px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 5px;
    text-align: center;
    margin-top: 20px;
  }


  .skills{
    font-size: 8px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 5px;
    text-align: center;
    margin-top: 280px;
  }

  table {
    font-size: 15px;
  }

  .skills h4{
    color: black;
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: 15px;
  }


  #port{
    font-size: 50px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 5px;
    text-align: center;
    margin-top: 350px;
  }

  #portfolio{
    font-size: 8px;
    width: 300px;
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 5px;
    text-align: center;
    margin-top: 50px;
  }

  .wrapper {
    background-image: url('images/blue-min.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    min-width: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    position: fixed;
  }

  .section {
    position: relative;
    height: 70vh;
  }

  .section-parallax-bg3{
    position: relative;
    height: 70vh;
  }

  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

  .top-of-page::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

  .experience::after {
    background-image: url('images/black-med-min.jpg');
    background-repeat: no-repeat;
  }

}

@media screen and (max-height: 697px) and (max-height: 697px) {
  #port{
    margin-top: 300px;
  }
}

@media screen and (max-height: 648px) and (max-height: 648px) {
  #exp{
    margin-top: 300px;
  }
}

@media screen and (max-height: 547px) and (max-height: 547px) {
  #port{
    margin-top: 400px;
  }
}


@media screen and (max-height: 466px) and (max-height: 466px) {
  #exp{
    margin-top: 400px;
  }
}


@media screen and (max-height: 406px) and (max-height: 406px) {
  #port{
    margin-top: 500px;
  }

  #exp{
    margin-top: 500px;
  }
}

@media screen and (max-height: 190px) and (max-height: 190px) {
  #port{
    margin-top: 600px;
  }

  #exp{
    margin-top: 600px;
  }
}
