@font-face {
    font-family: Lismonia;
    src: url(fonts/Lismonia Demo.ttf);
}

/**
 * Eric Meyer's Reset CSS v2.0
(https://meyerweb.com/
eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*{
  box-sizing: border-box;
}

html {
  line-height: 1.35;
  width: 100%
}

body{
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

main {
    font-family: 'Raleway', sans-serif;
    background-image: url("images/blue-min.jpg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    max-height: 980px;
    margin: auto;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.arrow.animated.bounce {
    text-align: center;
}


#page{
  z-index: 2;
  width: 1000px;
  height: 420%;
  padding-top: 100px;
}

#lf {
  z-index: 2;
  display: block;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
}

#LF {
    margin: auto;
    font-size: 80px;
    padding-top: 21%;
    letter-spacing: 6px;
    padding-left: 7%;
}

h1#logo {
  margin: auto;
  text-align: center;
  font-size: 80px;
  padding-top: 80px;
  padding-bottom: 60px;
}

h2#bio {
  margin: auto;
  letter-spacing: 11px;
  font-size: 29px;
  margin: auto;
  text-align: center;
  padding-bottom: 60px;
}

#city {
  margin: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-bottom: 15px;
  letter-spacing: 3px;
}

.links {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mail-icon {
  align-items: center;
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  display: inline-block;
  padding-right: 20px;
  color: black;
}

.mail-icon a{
  color: black;
}

span.fa.fa-envelope {
    color: black;
}

.github-icon {
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  display: inline-block;
  padding-right: 20px;
  color: black;
}

.github-icon a{
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

span.fa.fa-github {
    color: black;
}

.link-icon a{
  font-family: 'Lato', sans-serif;
  color: black;
  display: inline-block;
}

span.fa.fa-linkedin-square {
    color: black;
}

h1#exp {
    margin: auto;
    margin-top: 200px;
    text-align: center;
    padding-bottom: 60px;
    font-weight: 600;
    letter-spacing: 4px;
}
#circ {
  padding-top: 70px;
  margin: auto;
  width: 200px;
  height: 200px;
  margin: auto;
  background-image: url("images/self.jpg");
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  padding-left: -100px;
  margin-bottom: 50px;
}

p#me {
    text-align: center;
    width: 700px;
    margin: auto;
    word-spacing: 2px;
    letter-spacing: 3px;
    line-height: 39px;
    padding-bottom: 100px;
    font-weight: 900;
    font-size: 18px;
}

.skills{
  font-size: 50px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}



.skills h4{
  color: black;
  display: inline-block;
  list-style: none;
  text-align: center;
  font-size: 30px;
}

table{
  border-collapse: collapse;
}

table{
  width: 95%;
  font-size: 20px;
  text-align: center;
  border: 0 solid white;
  line-height: 1px;
}

tbody {
    font-weight: bolder;
}

table td{
  padding-bottom: 20px;
}

table h4 {
  padding-bottom: 50px;
}

h1#port {
    margin: auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
    font-weight: 600;
    letter-spacing: 4px;
}

.port_box {
    margin: auto;
    text-align: center;
}

h4#footer {
    margin: auto;
    text-align: center;
    font-size: 12px;
    padding-top: 100px;
    padding-bottom: 50px;
}

  img#mc {
  width: 100%;
  height: 100%;
  }

  img#uav {
  width: 100%;
  height: 100%;
  }

  img#gift {
  width: 100%;
  height: 100%;
  }

  img#celiac {
  width: 100%;
  height: 100%;
  }

  img#designr {
  width: 100%;
  height: 100%;
  }
}



/*ARROW*/

.arrow.animated.bounce {
    font-size: 14px;
}

i.fa.fa-chevron-down{
padding-top:  : 50px;
  font-size: 20px;
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}


@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}


/*BOUNCE*/
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform:     translateY(-30px);
    transform:         translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px)
  }
}
span {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

span.fa.fa-envelope:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

span.fa.fa-github:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

span.fa.fa-linkedin-square:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
