body {
  margin: 0;
  overflow: hidden;
}


/*FIRST SLIDE*/
.top-of-page {
  width: 600px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 70px;
  margin-left: 100px;
  text-align: center;
  margin-top: 100px;
}

#lf {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
}

#LF{
  margin: auto;
  font-size: 80px;
  padding-top: 25%;
}

#logo {
  font-size: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#bio {
  font-family: 'Lato', sans-serif;
  padding-bottom: 10px;
}

#city {
  font-family: 'Lato', sans-serif;
  padding-bottom: 15px;

}

.links {
  padding-bottom: 60px;
}

.mail-icon {
  align-items: center;
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  display: inline-block;
  padding-right: 20px;
  color: black;
}

.mail-icon a{
  color: black;
}

span.fa.fa-envelope {
    color: black;
}

.github-icon {
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  display: inline-block;
  padding-right: 20px;
  color: black;
}

.github-icon a{
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

span.fa.fa-github {
    color: black;
}

.link-icon a{
  font-family: 'Lato', sans-serif;
  color: black;
  display: inline-block;
}

span.fa.fa-linkedin-square {
    color: black;
}



/*SECOND SLIDE*/
.about {
  font-size: 50px;
  width: 600px;
  font-family: 'Julius Sans One', sans-serif;
  margin-left: 100px;
  text-align: center;
  margin-top: 200px;
}

#exp {
  font-size: 50px;
  padding-bottom: 20px;
}


#circ {
  width: 150px;
  height: 150px;
  margin: auto;
  background-image: url("images/self.jpg");
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  padding-left: -100px;
  margin-bottom: 30px;
}

#me {
  font-size: 20px;
  padding-bottom: 50px;
}

/*THIRD SLIDE*/

.skills{
  font-size: 50px;
  width: 600px;
  font-family: 'Julius Sans One', sans-serif;
  margin-left: 100px;
  text-align: center;
  margin-top: 200px;
}



.skills h4{
  color: black;
  display: inline-block;
  list-style: none;
  text-align: center;
  font-size: 30px;
}

table{
  border-collapse: collapse;
}

table{
  width: 95%;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  text-align: center;
  border: 0 solid white;
  line-height: 1px;
}

table td{
  padding-bottom: 10px;
}

table h4 {
  padding-bottom: 50px;
}


/*FOURTH SLIDE*/
#port{
  padding-top: -200px;
  font-size: 50px;
  width: 600px;
  font-family: 'Julius Sans One', sans-serif;
  margin-left: 100px;
  text-align: center;
  margin-top: 200px;
}

#portfolio{
  font-size: 20px;
  width: 600px;
  font-family: 'Julius Sans One', sans-serif;
  margin-left: 100px;
  text-align: center;
  margin-top: 200px;
}


/*FOOTER*/
#footer {
  font-size: 15px;
  bottom:5px;
  left: 0;
  right:0;
  margin: auto;
  position: fixed;
  text-align: center;
  font-family: 'Lato', sans-serif;
  width: 100%;
}



/*BOUNCE*/
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform:     translateY(-30px);
    transform:         translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px)
  }
}
span {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

span.fa.fa-envelope:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

span.fa.fa-github:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

span.fa.fa-linkedin-square:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}


/*SCROLLING*/

.wrapper {
  background-image: url('images/black-med-min.jpg');
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  min-width: 100%;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size:1054px;
  background-position: right;
  position: fixed;
}

.section {
  position: relative;
  height: 70vh;
}

.section-parallax-bg3{
  position: relative;
  height: 70vh;
}


.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.top-of-page::after {
  background-image: url('images/black-med-min.jpg');
  background-repeat: no-repeat;
}

.experience::after {
  background-image: url('images/black-med-min.jpg');
  background-repeat: no-repeat;
}

/*ARROW BOUNCE*/
