body {
  margin: 0;
  overflow: hidden;
}

html {
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
  background-image: url("images/iStock-480778738.jpg");
  background-repeat: no-repeat;
  background-size:1054px;
  background-position: right;
  margin-left: 100px;
  overflow: hidden;
  position: fixed;
}

.top-of-page{
  text-align: center;
  position: fixed;
  left:10% ;
  top: 20%;
}

#logo {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 70px;
}


#bio {
  font-family: 'Lato', sans-serif;
}

#city {
  font-family: 'Lato', sans-serif;
  padding-bottom: 15px;

}

.links {
  padding-bottom: 60px;
}

#footer {
  font-size: 15px;
  bottom: 5px;
  left: 0;
  right:0;
  margin: auto;
  position: fixed;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.mail-icon {
  align-items: center;
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  display: inline-block;
  font-size: 40px;
  padding-right: 20px;
  color: black;
}

.mail-icon a{
  color: black;
}

span.fa.fa-envelope {
    color: black;
}

.github-icon {
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  display: inline-block;
  padding-right: 20px;
    color: black;
}

.github-icon a{
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

.link-icon a{
  font-family: 'Lato', sans-serif;
  color: black;
  display: inline-block;
}

span.fa.fa-linkedin-square {
    color: black;
}


/*ICONS*/

.glyphicon-envelope{
  color: black;
  font-size: 25px;
}


.devicon-github-plain {
  color: black;
  font-size: 40px;
}

.fa-linkedin {
  color: black;
  font-size: 30px;
}

.experience h4{
  color: black;
  display: inline-block;
  list-style: none;
  text-align: center;
  font-size: 30px;
}

.experience {
  font-size: 50px;
  margin: auto;
}


/*UNDERLINE EFFECTS*/

#logo:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

#logo:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#bio:after {
  content: '';
  position: absolute;
  left: 15%;
  display: inline-block;
  height: 1em;
  width: 70%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

#bio:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#city:after {
  content: '';
  position: absolute;
  left: 37% ;
  display: inline-block;
  height: 1em;
  width: 27%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

#city:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
